.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}


.zeyada-regular {
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
}


p {
  color: white;
  font-family: "Merriweather";
  margin: 0;
}

.about-section p {
    text-indent: -2.5rem; /* Reverse indentation */
    padding-left: 2.3rem; /* Push the text to the right after negative indentation */
}

.home-page-paragraph {
  text-align: center;
}

/* Repeat the above .firefly:nth-child(n) styles for 2 to 15 */
/* 
Light Blue #8ECAE6
Mid Blue #219EBC
Dark Blue #023047
Golden #FFB703
Orange #FB8500

*/