html {
  height: 100%;
  overflow: auto;
  overscroll-behavior: none;
}

.koh-santepheap-thin {
  font-family: "Koh Santepheap", serif;
  font-weight: 100;
  font-style: normal;
}

.koh-santepheap-light {
  font-family: "Koh Santepheap", serif;
  font-weight: 300;
  font-style: normal;
}

.koh-santepheap-regular {
  font-family: "Koh Santepheap", serif;
  font-weight: 400;
  font-style: normal;
}

.koh-santepheap-bold {
  font-family: "Koh Santepheap", serif;
  font-weight: 700;
  font-style: normal;
}

.koh-santepheap-black {
  font-family: "Koh Santepheap", serif;
  font-weight: 900;
  font-style: normal;
}


body {
  height: 100%;

}
#root {
  height: 100%;
}

.bg-myColor {
  min-height: 5rem;
  background: linear-gradient(in oklab, #2D5C7F , #2D5C7F, #2D5C7F, transparent);
  opacity: 97%;
  
  }

.nav-link, .navbar-brand {
  color: #FF8F56;
}

.whole-footer {
  color: #2D5C7F;
}

.lower-footer {
  min-height: 5rem;
  background: linear-gradient(transparent,#2D5C7F, #2D5C7F, #2D5C7F, #2D5C7F);
  opacity: 96%;
  color: #FF8F56;
}

.icon {
  color: #FFF1A8,
}

/* 

Navy        #416788
Slate Blue  #7389AE
Gray        #B5BAD0
Mint        #81D2C7

*/